<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Appearance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <a href="{{ url_for('view_appearances') }}" class="go-back">Back to Appearances</a>
    <div class="add-player-container">
        <h2 class="add-player-title">Add Appearance</h2>
        {% if error_message %}
            <div class="alert-error">
                {{ error_message }}
            </div>
        {% endif %}
        
        <form method="post" action="{{ url_for('add_appearance') }}",  class="add-player-form"> 
            <div class="form-group">
                <label for="appearance_id">Appearance ID:<span class="required">*</span></label> 
                <input type="text" id="appearance_id" name="appearance_id" placeholder="e.g. 1234_4567" required>
            </div>
            <br>
            <div class="form-group">
                <label for="game_id">Game ID:<span class="required">*</span></label>
                <input type="text" id="game_id" name="game_id" placeholder="e.g. 12345" required>
            </div>
            <br>
            <div class="form-group">
                <label for="player_id">Player ID:<span class="required">*</span></label>
                <input type="text" id="player_id" name="player_id" placeholder="e.g. 1234" required>
            </div>
            <br>
            <div class="form-group">
                <label for="player_club_id">Player Club ID:</label>
                <input type="text" id="player_club_id" name="player_club_id" placeholder="e.g. 1234">
            </div>
            <br>
            <div class="form-group">
                <label for="player_current_club_id">Player Current Club ID:</label>
                <input type="text" id="player_current_club_id" name="player_current_club_id" placeholder="e.g. 1234">
            </div>
            <br>
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" id="date" name="date">
            </div>
            <br>
            <div class="form-group">
                <label for="player_name">Player Name:</label>
                <input type="text" id="player_name" name="player_name" placeholder="e.g. John Smith">
            </div>
            <br>
            <div class="form-group">
                <label for="competition_id">Competition ID:</label>
                <input type="text" id="competition_id" name="competition_id" placeholder="e.g. FR1">
            </div>
            <br>
            <div class="form-group">
                <label for="yellow_cards">Yellow Cards:</label>
                <input type="text" id="yellow_cards" name="yellow_cards" placeholder="e.g. 0">
            </div>
            <br>
            <div class="form-group">
                <label for="red_cards">Red Cards:</label>
                <input type="text" id="red_cards" name="red_cards" placeholder="e.g. 0">
            </div>
            <br>
            <div class="form-group">
                <label for="goals">Goals:</label>
                <input type="text" id="goals" name="goals" placeholder="e.g. 0">
            </div>
            <br>
            <div class="form-group">
                <label for="assists">Assists:</label>
                <input type="text" id="assists" name="assists" placeholder="e.g. 0">
            </div>
            <br>
            <div class="form-group">
                <label for="minutes_played">Minutes Played:</label>
                <input type="text" id="minutes_played" name="minutes_played" placeholder="e.g.905">
            </div>
            <br>
            <button type="submit" class="add-player-submit-button">Add Player</button>
        </form>
    </div>
</body>
</html>
