<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Player</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <a href="{{ url_for('view_players') }}" class="go-back">Back to Players</a>
    <div class="add-player-container">
        <h2 class="add-player-title">Add Player</h2>
        {% if error_message %}
            <div class="alert-error">
                {{ error_message }}
            </div>
        {% endif %}
        
        <form method="post" action="{{ url_for('add_player') }}",  class="add-player-form"> 
            <div class="form-group">
                <label for="player_id">Player ID:<span class="required">*</span></label> 
                <input type="text" id="player_id" name="player_id" placeholder="e.g. 1234" required>
            </div>
            <br>
            <div class="form-group">
                <label for="first_name">First Name:<span class="required">*</span></label>
                <input type="text" id="first_name" name="first_name" placeholder="e.g. John" required>
            </div>
            <br>
            <div class="form-group">
                <label for="last_name">Last Name:<span class="required">*</span></label>
                <input type="text" id="last_name" name="last_name" placeholder="e.g. Smith" required>
            </div>
            <br>
            <div class="form-group">
                <label for="last_season">Last Season:</label>
                <input type="text" id="last_season" name="last_season" placeholder="e.g. 2017">
            </div>
            <br>
            <div class="form-group">
                <label for="current_club_id">Current Club ID:</label>
                <input type="text" id="current_club_id" name="current_club_id" placeholder="e.g. 2345">
            </div>
            <br>
            <div class="form-group">
                <label for="player_code">Player Code:</label>
                <input type="text" id="player_code" name="player_code" placeholder="e.g. john-smith">
            </div>
            <br>
            <div class="form-group">
                <label for="country_of_birth">Country of Birth:</label>
                <input type="text" id="country_of_birth" name="country_of_birth" placeholder="e.g. England">
            </div>
            <br>
            <div class="form-group">
                <label for="city_of_birth">City of Birth:</label>
                <input type="text" id="city_of_birth" name="city_of_birth" placeholder="e.g. London">
            </div>
            <br>
            <div class="form-group">
                <label for="country_of_citizenship">Country of Citizenship:</label>
                <input type="text" id="country_of_citizenship" name="country_of_citizenship" placeholder="e.g. England">
            </div>
            <br>
            <div class="form-group">
                <label for="date_of_birth">Date of Birth:</label>
                <input type="date" id="date_of_birth" name="date_of_birth">
            </div>
            <br>
            <div class="form-group">
                <label for="sub_position">Subposition:</label>
                <input type="text" id="sub_position" name="sub_position" placeholder="e.g. Left-Back">
            </div>
            <br>
            <div class="form-group">
                <label for="position">Position:</label>
                <input type="text" id="position" name="position" placeholder="e.g. Defender">
            </div>
            <br>
            <div class="form-group">
                <label for="foot">Foot:</label>
                <input type="text" id="foot" name="foot" placeholder="e.g. right">
            </div>
            <br>
            <div class="form-group">
                <label for="height_in_cm">Height in cm:</label>
                <input type="text" id="height_in_cm" name="height_in_cm" placeholder="e.g. 180">
            </div>
            <br>
            <div class="form-group">
                <label for="market_value_in_eur">Market Value in EUR:</label>
                <input type="text" id="market_value_in_eur" name="market_value_in_eur" placeholder="e.g. 100000">
            </div>
            <br>
            <button type="submit" class="add-player-submit-button">Add Player</button>
        </form>
    </div>
</body>
</html>
