<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Club</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <a href="{{ url_for('view_clubs') }}" class="go-back">Back to Clubs</a>
    <div class="add-club-container">
        <h2 class="add-club-title">Add Club</h2>
        {% if error_message %}
            <div class="alert-error">
                {{ error_message }}
            </div>
        {% endif %}
        
        <form method="post" action="{{ url_for('add_club') }}",  class="add-club-form"> 
            <div class="form-group">
                <label for="club_id">Club ID:<span class="required">*</span></label> 
                <input type="number" id="club_id" name="club_id" placeholder="e.g. 1234" required>
            </div>
            <br>
            <div class="form-group">
                <label for="club_code">Club Code:</label>
                <input type="text" id="club_code" name="club_code" placeholder="e.g. celta-vigo">
            </div>
            <br>
            <div class="form-group">
                <label for="name">Club Name:</label>
                <input type="text" id="name" name="name" placeholder="e.g. Celta de Vigo">
            </div>
            <br>
            <div class="form-group">
                <label for="domestic_competition_id">Domestic Competition ID:<span class="required">*</span></label> 
                <input type="text" id="domestic_competition_id" name="domestic_competition_id" placeholder="e.g. ES1" required>
            </div>
            <br>
            <div class="form-group">
                <label for="total_market_value">Total Market Value:</label>
                <input type="text" id="total_market_value" name="total_market_value" placeholder="e.g. €50M">
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="squad_size">Squad Size:</label>
                <input type="number" id="squad_size" name="squad_size" placeholder="e.g. 31">
            </div>
            <br>
            <div class="form-group">
                <label for="average_age">Average Age:</label>
                <input type="decimal" id="average_age" name="average_age" placeholder="e.g. 24.5">
            </div>
            <br>
            <div class="form-group">
                <label for="foreigners_number">Foreigners Number:</label>
                <input type="number" id="foreigners_number" name="foreigners_number" placeholder="e.g. 9">
            </div>
            <br>
            <div class="form-group">
                <label for="foreigners_percentage">Foreigners Percentage:</label>
                <input type="number" id="foreigners_percentage" name="foreigners_percentage" placeholder="e.g. 37.5">
            </div>
            <br>
            <div class="form-group">
                <label for="national_team_players">National Team Players:</label>
                <input type="number" id="national_team_players" name="national_team_players" placeholder="e.g. 13">
            </div>
            <br>
            <div class="form-group">
                <label for="stadium_name">Stadium Name:</label>
                <input type="text" id="stadium_name" name="stadium_name" placeholder="e.g. Allianz Arena">
            </div>
            <br>
            <div class="form-group">
                <label for="stadium_seats">Stadium Seats:</label>
                <input type="number" id="stadium_seats" name="stadium_seats" placeholder="e.g. 52578">
            </div>
            <br>
            <div class="form-group">
                <label for="net_transfer_record">Net Transfer Record:</label>
                <input type="text" id="net_transfer_record" name="net_transfer_record" placeholder="e.g. €-53M">
            </div>
            <br>
            <div class="form-group">
                <label for="coach_name">Coach Name:</label>
                <input type="text" id="coach_name" name="coach_name" placeholder="e.g. Mikel Arteta">
            </div>
            <br>

            <br>
            <div class="form-group">
                <label for="last_season">Last Season:</label>
                <input type="number" id="last_season" name="last_season" placeholder="e.g. 2019">
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="url">URL</label>
                <input type="text" id="url" name="url" placeholder="e.g. https://www.transfermarkt.com/galatasaray-istanbul/startseite/verein/141">
            </div>
            <br>
            <button type="submit" class="add-club-submit-button">Add Club</button>
        </form>
    </div>
</body>
</html>
