<html>
<head>
    <title>Football Data App - Appearances</title>
</head>
<body>
    <h1>Appearance Data</h1>
    <nav class="nav">
        <a href="{{ url_for('clubs') }}">Clubs</a>
        <a href="{{ url_for('games') }}">Games</a>
        <a href="{{ url_for('club_games') }}">Club Games</a>
        <a href="{{ url_for('competitions') }}">Competitions</a>
        <a href="{{ url_for('appearances') }}">Appearances</a>
        <a href="{{ url_for('game_events') }}">Game Events</a>   
    </nav>
</body>
</html>