<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Top 10 Clubs Successful in Away Games</title>
</head>
<body>
    <a href="{{ url_for('club_game_statistics') }}" class="go-back">Club Game Top 10 Statistics</a>
    <h1>Top 10 Clubs Successful in Away Games</h1>
    <table border="1">
        <tr>
            <th>Club Name</th>
            <th>Winnings in Away Game</th>
        </tr>
        {% for result in result %}
            <tr>
                <td>{{ result[0] }}</td>
                <td>{{ result[1] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>