<!DOCTYPE html>
<html>
<head>
    <title>Football Data App</title>
</head>
<body>
    <h1>Football Data Archive</h1>
    <p><a href="{{ url_for('clubs') }}">Clubs</a></p>
    <p><a href="{{ url_for('games') }}">Games</a></p>
    <p><a href="{{ url_for('club_games') }}">Club Games</a></p>
    <p><a href="{{ url_for('competitions') }}">Competitions</a></p>
    <p><a href="{{ url_for('appearances') }}">Appearances</a></p>
    <p><a href="{{ url_for('game_events') }}">Game Events</a></p>
</body>
</html>