<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Update Player</title>
</head>
<body>
    <a href="{{ url_for('view_players') }}" class="go-back">Back to Players</a>
    <div class="update-player-container">
        <h1 class="update-title">Update Player</h1>
        
        {% if error_message %}
            <div class="alert-error">
                {{ error_message }}
            </div>
        {% endif %}

        <form method="POST" action="{{ url_for('update_player', player_id=player_details[0]) }}", class="update-player-form">
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" value="{{ player_details[1] }}">
            </div>
            <br>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" value="{{ player_details[2] }}">
            </div>
            <br>
            <div class="form-group">
                <label for="last_season">Last Season:</label>
                <input type="text" id="last_season" name="last_season" value="{{ player_details[3] }}">
            </div>
            <br>
            <div class="form-group">
                <label for="current_club_id">Current Club ID:</label>
                <input type="text" id="current_club_id" name="current_club_id" value="{{ player_details[4] }}">
            </div>
            <br>
            <div class="form-group">
                <label for="player_code">Player Code:</label>
                <input type="text" id="player_code" name="player_code" value="{{ player_details[5] }}">
            </div>
            <br>
            <div class="form-group">
                <label for="country_of_birth">Country of Birth:</label>
                <input type="text" id="country_of_birth" name="country_of_birth" value="{{ player_details[6] }}">
            </div>
            <br>
            <div class="form-group">
                <label for="city_of_birth">City of Birth:</label>
                <input type="text" id="city_of_birth" name="city_of_birth" value="{{ player_details[7] }}">
            </div>
            <br>
            <div class="form-group">
                <label for="country_of_citizenship">Country of Citizenship:</label>
                <input type="text" id="country_of_citizenship" name="country_of_citizenship" value="{{ player_details[8] }}">
            </div>
            <br>
            <div class="form-group">
                <label for="date_of_birth">Date of Birth:</label>
                <input type="date" id="date_of_birth" name="date_of_birth" value="{{ player_details[8] }}">
            </div>
            <br>
            <div class="form-group">
                <label for="sub_position">Sub Position:</label>
                <input type="text" id="sub_position" name="sub_position" value="{{ player_details[9] }}">
            </div>
            <br>
            <div class="form-group">
                <label for="position">Position:</label>
                <input type="text" id="position" name="position" value="{{ player_details[10] }}">
            </div>
            <br>
            <div class="form-group">
                <label for="foot">Foot:</label>
                <input type="text" id="foot" name="foot" value="{{ player_details[11] }}">
            </div>
            <br>
            <div class="form-group">
                <label for="height_in_cm">Height in cm:</label>
                <input type="text" id="height_in_cm" name="height_in_cm" value="{{ player_details[12] }}">
            </div>
            <br>
            <div class="form-group">
                <label for="market_value_in_eur">Market Value in EUR:</label>
                <input type="text" id="market_value_in_eur" name="market_value_in_eur" value="{{ player_details[13] }}">
            </div>
            <br>    
            <button class="update-player-submit-button"type="submit">Update Player</button>
        </form>
    </div>
</body>
</html>