<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>View Competitions</title>
</head>
<body>
    <form method="post" action="{{ url_for('view_competitions') }}" class="search-form">
        <input type="text" name="search_query" placeholder="Search by name, competition code, or competition ID..." value="{{ search_query }}">
        <button type="submit">Search</button>
    </form>
    
    <a href="{{ url_for('sort_filter_competitions') }}" class="sort-filter-button">Sort and Filter Competitions</a>

    {% if search_query %}
        <a href="{{ url_for('view_competitions') }}" class="go-back-button">Go Back to Competitions</a>
    {% endif %}

    <h1>Competitions</h1>
    <table border="1">
        <tr>
            <th>Competition ID</th>
            <th>Competition Code</th>
            <th>Name</th>
            <th>Subtype</th>
            <th>Type</th>
            <th>Country ID</th>
            <th>Country Name</th>
            <th>Domestic League Code</th>
            <th>Confederation</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for competition in competitions %}
        <tr>
            <td>{{ competition[0] }}</td>  <!-- this each row indicates a column in table-->
            <td>{{ competition[1] }}</td>
            <td>{{ competition[2] }}</td>
            <td>{{ competition[3] }}</td>
            <td>{{ competition[4] }}</td>
            <td>{{ competition[5] }}</td>
            <td>{{ competition[6] }}</td>
            <td>{{ competition[7] }}</td>
            <td>{{ competition[8] }}</td>
            <td><a class="update-box" href="{{ url_for('update_competition', competition_id=competition[0]) }}">✎</a></td>
            <td>
                <div class="delete-box" onclick="confirmDelete('{{ competition[0] }}')">X</div>
            </td>  
        </tr>
        {% endfor %}
    </table>
    <!-- Pagination links with sliding window -->
    <div class="pagination">
        {% if page > 1 %}
            <a href="{{ url_for('view_competitions', page=page-1) }}">Previous</a>
        {% endif %}

        {% for num in range(start_page, end_page+1) %}
            {% if num == page %}
                <strong>{{ num }}</strong>
            {% else %}
                <a href="{{ url_for('view_competitions', page=num) }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page < total_pages %}
            <a href="{{ url_for('view_competitions', page=page+1) }}">Next</a>
        {% endif %}
    </div>
    <a href="{{ url_for('index') }}" class="back-button">Back to Main Page</a>
    <a href="{{ url_for('add_competition') }}" class="add-competition-button">Add Competition</a>
</body>
<script>
    function confirmDelete(competitionId) {
        if (confirm("Are you sure you want to delete this competition?")) {
            window.location.href = "/delete_competition/" + competitionId;  // Replace with the correct route
        }
    }
</script>
</html>
